Repository team-kaba/doodle, changes with the labels that .github/labeler.yaml gives for each.
All labels: iOS, Android, app, firebase, build, chore, ci, doc, test

.github/labeler.yaml:

# Add 'iOS' label to any change within the 'ios' directory
iOS:
  - Doodle/ios/**/*

# Add 'Android' label to any change within the 'android' directory
Android:
  - Doodle/android/**/*

# Add 'app' label to any change within the '@app' directory and to the files listed below
app:
  - Doodle/@app/**/*
  - Doodle/index.js

# Add 'firebase' label to any change to the firebase project files
firebase:
  - firebase/**/*
  - .firebaserc
  - firebase.json

# Add 'build' label to any changes to the files listed below
build:
  - Doodle/.script/**/*
  - Doodle/.eslintrc.js
  - Doodle/.prettierrc.js
  - Doodle/babel.config.js
  - Doodle/metro.config.js
  - Doodle/package.json
  - Doodle/package-lock.json
  - Doodle/tsconfig.json
  - .editorconfig

# Add 'chore' label to any change within the '.github' directory and to the files listed below
chore:
  # Changes to files within '.github/workflows' should correspond to the 'ci' label
  - any: ['.github/**/*', '!.github/workflows/**/*']
  - .idea/**/*
  - .run/**/*
  - Doodle/.gitattributes
  - Doodle/.gitignore
  - .gitattributes
  - .gitignore
  - .tool-version
  - LICENSE

# Add 'ci' label to any change within the '.github/workflows' directory
ci:
  - .github/workflows/**/*

# Add 'doc' label to any change within the 'docs' directory
doc:
  - docs/**/*
  - README.md

# Add 'test' label to any change to files within the directories listed below
test:
  - Doodle/__jest__/**/*
  - Doodle/**/*.spec.*

Move typescript checks to overrides section
  Doodle/.eslintrc.js
Labels: build

Enable recommended eslint rules for React Hooks
  Doodle/.eslintrc.js
  Doodle/@app/components/pages/Doodle.tsx
Labels: app, build

Add TypeScript naming convention rules
  Doodle/.eslintrc.js
Labels: build

Force expression style function declaration (arrow-function)
  Doodle/.eslintrc.js
  Doodle/@app/App.tsx
  Doodle/@app/components/MainNavigator.tsx
Labels: app, build

Add import rule
  Doodle/.eslintrc.js
  Doodle/@app/App.tsx
  Doodle/@app/components/MainNavigator.tsx
  Doodle/@app/components/index.ts
  Doodle/@app/components/pages/index.ts
  Doodle/__jest__/__setup__/react-navigation.js
  Doodle/package-lock.json
  Doodle/package.json
Labels: app, build, test

Add GitHub Actions to run `npm test` and `npm run lint`
  .github/workflows/app.yaml
Labels: ci

chore
  .idea/doodle.iml
  README.md
Labels: chore, doc

chore
  .github/workflows/app.yaml
Labels: ci
