Repository team-kaba/doodle, changes with the labels that .github/labeler.yaml gives for each.
All labels: iOS, Android, app, firebase, build, chore, ci, doc, test

.github/labeler.yaml:

# Add 'iOS' label to any change within the 'ios' directory
iOS:
  - Doodle/ios/**/*

# Add 'Android' label to any change within the 'android' directory
Android:
  - Doodle/android/**/*

# Add 'app' label to any change within the 'src' directory and to the files listed below
app:
  - Doodle/src/**/*
  - Doodle/app.json
  - Doodle/index.js

# Add 'firebase' label to any change to the firebase project files
firebase:
  - firebase/**/*
  - .firebaserc
  - firebase.json

# Add 'build' label to any changes to the files listed below
build:
  - .editorconfig
  - Doodle/.script/**/*
  - Doodle/.eslintrc.js
  - Doodle/.prettierrc.js
  - Doodle/babel.config.js
  - Doodle/metro.config.js
  - Doodle/package.json
  - Doodle/package-lock.json
  - Doodle/tsconfig.json

# Add 'chore' label to any change within the '.github' directory and to the files listed below
chore:
  # Changes to files within '.github/workflows' should correspond to the 'ci' label
  - any: ['.github/**/*', '!.github/workflows/**/*']
  - .gitattributes
  - .gitignore
  - .tool-version
  - .idea/**/*
  - Doodle/.gitignore
  - LICENSE

# Add 'ci' label to any change within the '.github/workflows' directory
ci:
  - .github/workflows/**/*

# Add 'doc' label to any change within the 'docs' directory
doc:
  - docs/**/*
  - README.md

# Add 'test' label to any change to files within the directories listed below
test:
  - Doodle/__mocks__/**/*
  - Doodle/__setup__/**/*
  - Doodle/**/*.spec.*
  - Doodle/jest.config.js

Move docs directory
  Doodle/README.md
  docs/README.md
  docs/directory-structure.md
  docs/distribute-application.md
  docs/icon-font.md
  docs/running-on-ios.md
  docs/settings-vscode.md
  docs/style-guide.md
  docs/troubleshooting.md
Labels: doc

Add troubleshooting doc about `createReleaseExpoManifest` failure
  docs/troubleshooting.md
Labels: doc

Remove examples
  Doodle/src/App.tsx
  Doodle/src/example/components/ExampleDrawer.tsx
  Doodle/src/example/components/MainNavigator.tsx
  Doodle/src/example/components/basics/CameraIcon.tsx
  Doodle/src/example/components/basics/GearIcon.tsx
  Doodle/src/example/components/basics/HomeIcon.tsx
  Doodle/src/example/components/basics/PencilIcon.tsx
  Doodle/src/example/components/basics/SpecificIconType.ts
  Doodle/src/example/components/basics/TrashIcon.tsx
  Doodle/src/example/components/basics/index.ts
  Doodle/src/example/components/pages/HomeScreen.tsx
  Doodle/src/example/components/pages/SettingsScreen.tsx
  Doodle/src/example/components/pages/form/FormWizardNavigator.tsx
  Doodle/src/example/components/pages/form/InputForm1Screen.tsx
  Doodle/src/example/components/pages/form/InputForm2Screen.tsx
  Doodle/src/example/components/pages/form/InputFormCompleteScreen.tsx
  Doodle/src/example/components/pages/form/InputFormConfirmScreen.tsx
  Doodle/src/example/components/parts/Text.tsx
  Doodle/src/example/components/parts/WizardScreenDefinition.tsx
  Doodle/src/example/components/parts/index.ts
Labels: app

npm i -D jest@25
  Doodle/package-lock.json
  Doodle/package.json
Labels: build

Move jest configuration files to `.jest`
  Doodle/.jest/__mocks__/react-native-screens.js
  Doodle/.jest/__setup__/react-navigation.js
  Doodle/package.json
Labels: build

Use TypeScript to write test
  Doodle/package-lock.json
  Doodle/package.json
Labels: build

Configure jest root directories
  Doodle/package.json
Labels: build

Configure jest root directories
  Doodle/jest/__mocks__/react-native-screens.js
  Doodle/jest/__setup__/react-navigation.js
  Doodle/package.json
Labels: build

Use @testing-library/react-native and asset snapshot
  Doodle/__tests__/App.js
  Doodle/package-lock.json
  Doodle/package.json
  Doodle/src/App.spec.tsx
  Doodle/src/__snapshots__/App.spec.tsx.snap
  Doodle/src/components/pages/Doodle.tsx
Labels: app, build, test

Remove react-native-appearance
  Doodle/package-lock.json
  Doodle/package.json
Labels: build

expo upgrade
  Doodle/package-lock.json
  Doodle/package.json
Labels: build

bump eslint-config-universal and chore
  .idea/dictionaries/ryotan.xml
  Doodle/package-lock.json
  Doodle/package.json
Labels: build, chore

expo upgrade
  Doodle/ios/Podfile.lock
  Doodle/package-lock.json
Labels: iOS, build

Import modules using absolute paths
  Doodle/babel.config.js
  Doodle/tsconfig.json
Labels: build

Rename source root dir to `@app` and jest dir to `__jest__`
  Doodle/.eslintrc.js
  Doodle/@app/App.spec.tsx
  Doodle/@app/App.tsx
  Doodle/@app/__snapshots__/App.spec.tsx.snap
  Doodle/@app/components/MainNavigator.tsx
  Doodle/@app/components/pages/Doodle.tsx
  Doodle/__jest__/__mocks__/react-native-screens.js
  Doodle/__jest__/__setup__/react-navigation.js
  Doodle/index.js
  Doodle/package.json
Labels: app, build, test
